.form-redirect-field {
  width: 48% !important;
  float: left;
}
.form-redirect-field-even {
  background: #f6f4f4;
  padding: 0px 10px;
  text-align: center;
  padding-bottom: 10px;
}
.form-redirect-field-odd {
  background: #fff;
  padding: 0px 10px;
  text-align: center;
  padding-bottom: 10px;
}
.form-redirect-field input {
  width: 94%;
  height: 36px;
  padding: 10px !important;
  box-shadow: none;
}
#form-redirect-fieldset-wrapper fieldset {
  background-color: #e0e0d8;
  border-radius: 2px;
  margin: 1em 0;
  padding: 30px 18px 18px;
  min-width: 0;
  position: relative;
  padding-top: 10px !important;
}
#form-redirect-fieldset-wrapper fieldset label {
  padding: 0;
  font-weight: bold;
  margin-left: 20px;
}
.redirect-form-button{
  margin-top: 10px;
}
